/**
COLOR SCHEME
 */
$navy: #001f3f;
//$prussian_blue:#0b3c5d; // elegant dark blue
$prussian_blue:#001f3f;

$sky_blue:#328cc1; // light blue
$gold_leaf:#d9b319; // yellow & gold
$ivory_black:#1d2731; // Medium dark, as black with deep blue
$white: #fff;

$sm: 768px;
$md: 992px;
$lg: 1200px;