@import "../variable";

/* Common button styles */
.btn {
  float: left;
  min-width: 120px;
  display: block;
  margin: 1em;
  padding: 10px 15px;
  text-align: center;
  border: 2px solid $navy;
  border-radius: 40px;
  background: none;
  font-weight: bold;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  vertical-align: middle;
  position: relative;
  z-index: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.btn__text--upper {
  letter-spacing: 2px;
  text-transform: uppercase;
}

.btn:hover {
  color: #fff;
  border-color: $navy;
  background: $navy;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.btn--inverted {
  background: $gold_leaf;
  color: $navy;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.btn--inverted:hover {
  background: $navy;
  color: $gold_leaf;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.btn:hover {
  color: #fff;
  border-color: $navy;
  background: $navy;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.btn--light {
  background: #fff;
  color: $green_blue;
  border-color: $green_blue;
}
.btn--light:hover {
  color: $gold_leaf;
  border-color: $gold_leaf;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

