.card-img-top {
  max-height:300px;
  padding: 20px;
}

.project__side{
  min-height: 80vh;
  padding-top:70px;
  max-width: 950px;

  @media screen and (max-width: $sm){
    min-height: 200px;
  }
}

.project__aside--img {

  @media screen and (max-width: $sm){
    display: none;
  }
  @media screen and (min-width: 1200px){
    max-width: 400px
  }
}

.project__gallery {
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
}

.project__thumbnail {
  width: 200px;
  height:200px;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 15px 0 15px;

  img {
    width: 200px;
    height: auto;
  }
}