.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.padding__top--m {
  padding-top:75px;
}
.margin__bottom--m {
  margin-bottom:100px;
}
.margin__top--m {
  margin-top:100px;
}

@media screen and (min-width: $sm) {

  .card__margin--xl{
    margin-top:520px;
  }

  .card__margin--l{
    margin-top:300px;
  }

  .card__margin--m{
    margin-top:100px;
  }
}