/* Typography Component */


.title{
  color: $darkTxt;
  letter-spacing: 16px;
  font-size:3em;
  margin-top: 50px;
  margin-bottom:20px;
  padding-bottom:5px;
  padding-top:75px;
  border-bottom:2px solid $darkTxt;
  margin-right:auto;
  margin-left:auto;
}

.title--project{
  color: $darkTxt;
  letter-spacing: 10px;
  font-size:3em;
  margin-bottom:20px;
  padding-bottom:5px;
  border-bottom:2px solid $darkTxt;
  margin-right:auto;
  margin-left:auto;
}

/*
.title:hover {
  border-bottom:5px solid $red;
  margin-bottom:17px;
}*/

@media screen and (max-width: $sm){
  .title {
    letter-spacing: 10px;
    font-size:2em;
  }
}


