/*
*	Simple flex-grid #FlexBox
*	Two screen width: width < 600px || width > 600px 
*/

$md_width: 600px;

//Small screen
@media (max-width: $md_width) {
	.flex__col--sm {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;

	}

	.flex__row--sm {
		display: flex;
		flex-direction: row;
		flex-wrap:  wrap;
	}
}

//Large & medium screen
@media (min-width: $md_width) {
	.flex__col--lg {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;

	}

	.flex__row--lg {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}
}

.flex__center{
	justify-content:space-around;
	align-content:center;
	align-items:center;
}

.flex__center--top {
	justify-content:space-around;
	align-content:flex-start;
	align-items:flex-start;
}

.center{
	margin: 0 auto;
	text-align: center;
}
